= form_for [@year,@group] do |f|
  =error_messages_for @group
  =f.label :name
  =f.text_field :name
  =f.label :faculty
  =f.select :faculty_id, Faculty.all.collect {|p| [p.short_name, p.id, { 'data-id' => p.id}] }, {include_blank: 'None'}
  =f.label :department
  =f.select :department_id, Department.all.collect {|p| [p.name, p.id, { 'data-id' => p.faculty.id}] }, {include_blank: 'None'}, :disabled => 'disabled'
  =f.label :course
  =f.text_field :course
  =f.label :term
  =f.text_field :term
  =f.label :payment_format
  =f.select :payment_format, [['Бюджет', true], ['Комерция', false]]
  =f.label :education_form
  =f.select :education_form, EducationForm.all.collect {|p| [p.name] }
  =f.label :gos3
  =f.select :gos3, [['Да', true], ['Нет', false]]
  =f.label :speciality
  =f.select :speciality_id, Speciality.all.collect {|p| [p.speciality_name, p.id] }, data:{confirm:"Вы уверены?"}, @speciality => :value
  =f.label :in_weight
  =f.select :in_weight, [['Да', true], ['Нет', false]]
  =f.label :students
  =f.text_field :students
  =f.label :plans
  =f.text_field :plan_tokens, data: {tokeninput: get_plan_list_plans_path(format: :json), pre: @group.plans.compact.to_json}
  .form-actions
    =f.submit "Сохранить",class: 'btn btn-primary'
    =link_to 'Назад', study_year_groups_path, :class => 'btn'

:javascript
  $(document).ready(function() {
    $("#group_faculty_id").on("change", function() {
      $("#group_department_id").attr("disabled", false);
      var id  = $(this).find("option:selected").attr("data-id");
      if(!id) {
        $("#group_department_id").attr("disabled", "disabled");
      }
      $.each($("#group_department_id").find("option"), function(key, value) {
        if($(value).attr("data-id") != id)  {
          $(value).hide();
        } else {
          $(value).show();
        }
      });
    });
  });

  //$(document).ready(function() {
  //var before_change=$("#group_speciality_id").val();
  //  $("#group_speciality_id").change(function() {
  //    if (confirm("При смене специальности будут сброшены все учебные планы. Вы уверены?")){
  //      $('input:checkbox[id=group_plan_ids_]').attr('checked',false)
  //      $(".edit_group").submit();
  //    }
  //    else{
  //     $(this).val(before_change);
  //    }
  //  });
  //});
  //