%h4
  Список групп

=search_form_for [@year,@search] do |f|
  %label Найти группу
  =f.search_field :name_or_faculty_short_name_or_department_name_cont, :placeholder => "Поиск..."
  %br
  =f.submit 'Найти', :class => "btn primary"
%br

=link_to 'Добавить группу', new_study_year_group_path(current_user.current_year), :class => "btn"
%br
%br

%table.table.table-bordered.table-hover
  %thread
    %tr
      %th=Group.human_attribute_name(:name)
      %th=Group.human_attribute_name(:faculty)
      %th=Group.human_attribute_name(:department)
      %th=Group.human_attribute_name(:edit)
  %tbody
  - @groups.each do |group|
    %tr
      %td=group.name
      %td=group.faculty.short_name
      %td=group.department.name
      %td
        -if group.study_period
          =link_to "Добавить дисциплины",  edit_study_year_study_period_path(current_user.current_year, group.study_period), :class => "btn btn-primary"
        -else
          =link_to "Создать график учебного процесса",  study_year_study_process_graphics_new_with_group_path(current_user.current_year, group.id), :class => "btn btn-primary"
        =link_to "Просмотреть", study_year_group_path(current_user.current_year, group), :class => "btn btn-success"
        =link_to "Редактировать", edit_study_year_group_path(current_user.current_year, group), :class => "btn"
        =link_to "Удалить", study_year_group_path(current_user.current_year,group), :class => "btn btn-danger", data:{method: :delete, confirm:"Вы уверены?"}

