%h4
  Список пользователей

=search_form_for @search do |f|
  %label Найти пользователя
  =f.text_field :username_or_first_name_or_second_name_or_last_name_cont, :placeholder => "Поиск..."
  %br
  =f.submit 'Найти', :class => "btn primary"
%br

%table.table.table-bordered.table-hover
  %thread
    %tr
      %th=User.human_attribute_name(:fio)
      %th=User.human_attribute_name(:username)
      %th=User.human_attribute_name(:created_at)
      %th=User.human_attribute_name(:roles)
      %th=User.human_attribute_name(:edit)
  %tbody
  - @users.each do |user|
    %tr
      %td
        =user.first_name
        =user.second_name
        =user.last_name
      %td=user.username
      %td=l(user.created_at,format: :long)
      %td
        - user.roles.each do |user_role|
          =user_role.role_name
          %br
      %td
        =link_to "Редактировать", edit_user_path(user), :class => "btn"
        =link_to "Удалить", user_path(user), :class => "btn btn-danger", data:{method: :delete, confirm:"Вы уверены?"}