%h4
  Список предметов

=link_to 'Добавить предмет', new_subject_path, :class => "btn"
%br
%br

%table.table.table-bordered.table-hover
  %thread
    %tr
      %th=Subject.human_attribute_name(:name)
      %th=Subject.human_attribute_name(:edit)
  %tbody
  - @subjects.each do |subject|
    %tr
      %td=subject.name
      %td
        =link_to "Редактировать", edit_subject_path(subject), :class => "btn"
        =link_to "Удалить", subject_path(subject), :class => "btn btn-danger", data:{method: :delete, confirm:"Вы уверены?"}