= form_for [@year,@study_period] do |f|
  =error_messages_for @study_period
  %br
  %br
  //=f.label :study_process_graphic_id
  //=f.select :study_process_graphic_id, StudyProcessGraphic.all.collect {|p| [p.name, p.id] }, {include_blank: 'None'}
  .form-actions
    =f.submit "Сохранить",class: 'btn btn-primary'
    =link_to 'Назад', study_year_study_periods_path(current_user.current_year), :class => 'btn'