%h4
  Просмотр учебного отрезка

%table.table.table-bordered.table-hover
  %thread
  %tr
    %td=StudyPeriod.human_attribute_name(:name)
    %td=@study_period.name
  %tr
    %td=StudyPeriod.human_attribute_name(:group)
    %td
    -if @study_period.group
      =@study_period.group.name
  %tr
    %td=StudyPeriod.human_attribute_name(:study_process_graphic)
    %td
    -if @study_period.study_process_graphic
      =@study_period.study_process_graphic.name
  %tr
    %td=StudyPeriod.human_attribute_name(:subjects)
    %td
      - @study_period.subjects.each do |subject|
        =subject.name
        %br

=link_to "Редактировать", edit_study_year_study_period_path(current_user.current_year,@study_period), :class => "btn"
=link_to "Удалить", study_year_study_period_path(current_user.current_year,@study_period), :class => "btn btn-danger", data:{method: :delete, confirm:"Вы уверены?"}
=link_to "Назад", study_year_study_periods_path(current_user.current_year), :class => "btn"
%br
%br
