%h4
  Список планов

=search_form_for @search do |f|
  %label Найти специальность
  =f.search_field :plan_name_or_numer_cont, :placeholder => "Поиск..."
  %br
  =f.submit 'Найти', :class => "btn primary"
%br


=link_to 'Добавить план', new_plan_path, :class => "btn"
%br
%br

%table.table.table-bordered.table-hover
  %thread
    %tr
      %th=Plan.human_attribute_name(:speciality_numer)
      %th=Plan.human_attribute_name(:direcrion_numer)
      %th=Plan.human_attribute_name(:speciality_name)
      %th=Plan.human_attribute_name(:direcrion_name)
      %th=Plan.human_attribute_name(:plan_name)
      %th=Plan.human_attribute_name(:edit)
  %tbody
  - @plans.each do |plan|
    %tr
      %td
        -if plan.speciality
          =plan.speciality.speciality_numer
      %td
        -if plan.speciality
          =plan.speciality.direction_numer
      %td
        -if plan.speciality
          =plan.speciality.speciality_name
      %td
        -if plan.speciality
          =plan.speciality.direction_name
      %td=plan.plan_name
      %td
        =link_to "Просмотреть", plan_path(plan), :class => "btn btn-mini btn-success"
        =link_to "Редактировать", edit_plan_path(plan), :class => "btn btn-mini primary"
        =link_to "Удалить", plan_path(plan), :class => "btn btn-mini btn-danger", data:{method: :delete, confirm:"Вы уверены?"}