!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Информационная сисема «Учебные отрезки»
    =stylesheet_link_tag    "application"
    //=stylesheet_link_tag    "bootstrap_and_overrides"
    =javascript_include_tag 'application'
    =csrf_meta_tags
    =load_netzke theme: 'classic'
    %link{ href: '/images/favicon.ico', rel: 'shortcut icon'}
  %body
    #wrap
      =render 'layouts/topbar'
    #header
      #site-name
        Информационная сисема «Учебные отрезки»
        %br
        Учебный год
        =StudyYear.find(current_user.current_year).years
    #content-wrap
      #utility
        =render'layouts/leftbar'
      #content
        .row=render 'layouts/flash_messages'
        =yield
        #footer
          %p © ИВЦ МГИУ, 2013-#{Time.now.year}.